# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=
NEXTAUTH_URL=

#SnipcartJS Api Key snipcart.com
NEXT_PUBLIC_SNIPCART_API_KEY=

#Builderio Api Key builder.io
BUILDERIO_API_KEY=

#Sendgrid Api Key sendgrid.com
SENDGRID_API_KEY=

#Directus Project Url
DIRECTUS_PROJECT_URL=

#Static Access token - Create Query Permissions, and connect with a User then generate static access token
DIRECTUS_STATIC_TOKEN=